@model List<SchoolResultSystem.Web.Models.CSTModel>
@using SchoolResultSystem.Web.Models

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var subjectTeachers = ViewBag.SubjectTeachers as Dictionary<string, List<UserModel>>;
}

<link rel="stylesheet" href="~/css/classStudent.css" />

<div class="dashboard">
    <h2>Subjects of @ViewBag.ClassName</h2>
    <button class="btn" data-id ="@ViewBag.ClassId" data-action="AddSubjectTeacher">Add Subject</button>
    @if (Model != null && Model.Any())
    {
        <div class="main-table">
            <div class="table-header">
                <span>Subject Code</span>
                <span>Subject Name</span>
                <span>Teachers</span>
            </div>

            @foreach (var st in Model)
            {
                <div class="table-row">
                    <span>@st.SCode</span>
                    <span>@st.Subject.SName</span>
                    <span>
                        @if (subjectTeachers != null && subjectTeachers.ContainsKey(st.SCode))
                        {
                            foreach (var teacher in subjectTeachers[st.SCode])
                            {
                                <div>@teacher.TeacherName</div>
                            }
                        }
                        else
                        {
                            <em>No teacher assigned</em>
                        }
                    </span>
                </div>
            }
        </div>
    }
    else
    {
        <p>No subjects found for this class.</p>
    }
</div>
