@model SchoolResultSystem.Web.Areas.Principal.Models.CSTView;
@{
    int classId = Model.ClassId;
}

<div>


    <!-- Subject-Teacher Table -->
    <div class="card">
        <!-- Header -->
        <div class="header" data-classId=@Model.ClassId>
            <h3>@Model.ClassName - Subjects/Teachers</h3>
        </div>

        <div class="card-controller">
            <button class="btn-edit pertial" data-id="@classId" data-to="PrincipalDashboard/CSView">Students</button>
            <button class="btn-edit partial" data-id="@classId"
                    data-to="Microservices/Microservicess/MoveStudents">Move Students</button>
            <button class="btn-success" data-id=@classId data-action="assignsubject">Assign Subject-Teacher</button>
        </div>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Subject Code</th>
                    <th>Subject Name</th>
                    <th>Teacher ID</th>
                    <th>Teacher Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var st in Model.SubjectTeachers)
                {
                    <tr>
                        <td>@st.SCode</td>
                        <td>@st.SubjectName</td>
                        <td>@st.UserId</td>
                        <td>@st.FullName</td>
                        <td>
                            <button class="btn-delete" data-change="RCST">Remove</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="formholder"></div>
</div>