@model SchoolResultSystem.Web.Areas.Principal.Models.CSTView;
@using System.Text.Json;
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/cstview.css" />
<script>
    window.currentClassId = @Model.ClassId;  // Razor injects value
</script>

<script type="module" src="/js/cstview.js"></script>

<partial name="_header" />
<div class="dashboard">
    <!-- Main Dashboard Section -->
    <div>
        <div class="partial-container"></div>
        <!-- Header -->
        <div class="header">
            <h1>@Model.ClassName</h1>
        </div>
        <!-- Subject-Teacher Table -->
        <div class="card">
            <h2>Subject & It's Teacher</h2>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Subject Code</th>
                        <th>Subject Name</th>
                        <th>Teacher ID</th>
                        <th>Teacher Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var st in Model.SubjectTeachers)
                    {
                        <tr>
                            <td>@st.SCode</td>
                            <td>@st.SubjectName</td>
                            <td>@st.TeacherId</td>
                            <td>@st.TeacherName</td>
                            <td>
                                <button class="btn btn-edit">Edit</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h4 class="add-cst"> Add Subject Teacher</h4>
        <div class="formholder"></div>
    </div>

    <!-- Right Side Navigation -->


    <partial name="_RightNavBar" model="@Model.ClassId" />

</div>