@model SchoolResultSystem.Web.Areas.Principal.Models.CSViewModel;
@using System.Text.Json;
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/cstview.css" />
<script>
    window.currentClassId = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.ClassName));
</script>


<script type="module" src="/js/cstview.js"></script>

<partial name="_header" />

<div class="dashboard">
    <div>
        <div class="partial-container"></div>
        <div>
            <h1>@Model.ClassName</h1>
        </div>

        <div class="card">
            <h2>Students of this class</h2>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Student ID</th>
                        <th>Student Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var st in Model.Students)
                    {
                        <tr>
                        <td><input type="checkbox" class="select" value="@st.NSN"></td>
                            
                            <td>@st.NSN</td>
                            <td>@st.StudentName</td>
                            <td>
                                <button class="btn btn-edit">Edit</button>
                                <button class="btn btn-delete">Deactivate</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <div class="formholder"></div>
    </div>

    <!-- Right Side Navigation -->


    <partial name="_RightNavBar" model="@Model.ClassId" />



</div>