@model SchoolResultSystem.Web.Areas.Principal.Models.CSViewModel;
@using System.Text.Json;
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var classId = Model.ClassId;
}




<!--<partial name="_header" /> -->


    

        <div class="card">
            <h3 class="header" data-classId=@Model.ClassId>@Model.ClassName - Students</h3>
            <div class="card-controller">
            <button class="btn-edit partial" data-id="@classId" data-to="PrincipalDashboard/CSTView">Subject Teacher</button>
            <button class="btn danger partial" data-id="@classId" data-to="Microservices/Microservicess/MoveStudents">Move Students</button>
            </div>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Student ID</th>
                        <th>Student Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var st in Model.Students)
                    {
                        <tr>
                        <td><input type="checkbox" class="select" value="@st.NSN"></td>
                            
                            <td>@st.NSN</td>
                            <td>@st.StudentName</td>
                            <td>
                                <button class="btn btn-edit" data-change="editStudent" data-id=@st.NSN>Edit</button>
                                <button class="btn btn-delete" data-change="deactivateStudent" data-id=@st.NSN>Deactivate</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <div class="formholder"></div>
    </div>

    