@model List<SchoolResultSystem.Web.Models.UserModel> 

@{
    ViewData["Title"] = "Welcome";
    Layout = null; 
}

<div class="test">
    <h1>User List</h1>
    @if (Model != null && Model.Any())
    {
        
        @foreach(var user in Model)
        {
            <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 15px;">
                <p>User ID: @user.TeacherId</p>
                <p>Username: @user.UserName</p>
                <p>Password: @user.Password</p>
                <p>Role: @user.Role</p>
                <p>Teacher Name: @user.TeacherName</p>
                <p> is Active : @user.IsActive</p>
            </div>
        }
    }
    else
    {
        <p>No user data to display.</p>
    }
</div>